$fg-color : rgb(32,32,32);
$bg-color : rgb(228,228,228);
$accent  : rgb(90,185,222);
$border-color: darken($bg-color, 10%);
// browser support:
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-webkit: true;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;