@import "variables";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext);
// global
*{
    @include box-sizing(border-box);
}
// elements
html {
    font-family: 'Source Sans Pro', sans-serif;
    height:100%;
    overflow:hidden;
}

body {
    @include display-box;
    @include box-orient(vertical);
    @include box-pack(center);
    @include box-align(center);
    height:100%;
    overflow:scroll;
    font-size: 11pt;
}
hr{
    border:1px solid $border-color;
    margin: 0px;
    padding: 0px;
}
button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: $fg-color;
	padding: 5px 20px;
	@include background-image( linear-gradient(top, lighten($bg-color, 20%), $bg-color));
	@include border-radius(4px);
	border: 1px solid $border-color;
	@include box-shadow(0px 1px 2px rgba(000,000,000,0.2), inset 0px 0px 1px rgba(255,255,255,0.4));
	@include text-shadow(0px -1px 0px rgba(166,166,166,0), 0px 1px 0px rgba(255,255,255,0.7));
        &:active {
            @include background-image( linear-gradient(top, $bg-color, lighten($bg-color, 20%)));
        }
}
// classes
.back, .front {
    @include transition-duration(1s);
}
.back {
    @include transform(rotateY(180deg));
    z-index:-1;
    opacity: 0;
    visibility:hidden;
}
.front {
    @include transform(rotateY(0deg));
    z-index:2;
    opacity: 1;
}
// chatbox
#chatbox {
    position: relative;
    width: 325px;
    height: 400px;
    p {
        margin:0px;
        padding:0px;
    }
    #signed-out, #signed-in {
        border: 4px solid $border-color;
        @include border-radius(4px);
        @include display-box;
        background-color: $bg-color;
        height:100%;
        width:100%;
        position:absolute;
    }
    #signed-out {
        @include box-orient(horizontal);
        @include box-pack(center);
        @include box-align(center);
        div {
            text-align:center;
        }
    }
    #signed-in {
        @include box-orient(vertical);
        @include box-pack(justify);
        #messages {
           @include box-flex(1);
           overflow-y: auto;
           overflow-x: hidden;
           padding: 0.25em;
           .message {
               background-color: white;
               border-bottom: 1px solid $accent;
               &.info {
                   color: darken($accent, 10%);
                   font-style:italic;
               }
               img {
                   float:left;
                   margin-right: 0.25em;
               }
               p {
                   clear:both;
                   word-wrap: break-word;
               }
               .user-info {
                   font-size:smaller;
                   float:left;
                   color: lighten($fg-color, 30%);
               }

           }
        }
        #write {
            @include display-box;
            @include box-align(center);
            height: 48px;
            padding: 0.25em;
            #input {
                @include box-flex(1);
                display:block;
                resize: none;
                &:focus {
                    outline: 1px solid $accent;
                }
            }
            #picture {
                display: block;
                width: 32px;
                height: 32px;
            }
        }
    }
}

// scrollbars webkit only
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px
}

::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1)
}

::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35)
}

::-webkit-scrollbar-corner {
    background: transparent
}