@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext);
/* line 5, ../../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../sass/app.scss */
html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  overflow: hidden;
}

/* line 15, ../../sass/app.scss */
body {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  height: 100%;
  overflow: scroll;
  font-size: 11pt;
}

/* line 24, ../../sass/app.scss */
hr {
  border: 1px solid #cbcbcb;
  margin: 0px;
  padding: 0px;
}

/* line 29, ../../sass/app.scss */
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #202020;
  padding: 5px 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.4);
  text-shadow: 0px -1px 0px rgba(166, 166, 166, 0), 0px 1px 0px rgba(255, 255, 255, 0.7);
}
/* line 39, ../../sass/app.scss */
button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #ffffff);
  background-image: linear-gradient(top, #e4e4e4, #ffffff);
}

/* line 44, ../../sass/app.scss */
.back, .front {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 47, ../../sass/app.scss */
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

/* line 53, ../../sass/app.scss */
.front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
  opacity: 1;
}

/* line 59, ../../sass/app.scss */
#chatbox {
  position: relative;
  width: 325px;
  height: 400px;
}
/* line 63, ../../sass/app.scss */
#chatbox p {
  margin: 0px;
  padding: 0px;
}
/* line 67, ../../sass/app.scss */
#chatbox #signed-out, #chatbox #signed-in {
  border: 4px solid #cbcbcb;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: box;
  background-color: #e4e4e4;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* line 76, ../../sass/app.scss */
#chatbox #signed-out {
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
}
/* line 80, ../../sass/app.scss */
#chatbox #signed-out div {
  text-align: center;
}
/* line 84, ../../sass/app.scss */
#chatbox #signed-in {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: justify;
  box-pack: justify;
}
/* line 87, ../../sass/app.scss */
#chatbox #signed-in #messages {
  -webkit-box-flex: 1;
  box-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.25em;
}
/* line 92, ../../sass/app.scss */
#chatbox #signed-in #messages .message {
  background-color: white;
  border-bottom: 1px solid #5ab9de;
}
/* line 95, ../../sass/app.scss */
#chatbox #signed-in #messages .message.info {
  color: #30a7d5;
  font-style: italic;
}
/* line 99, ../../sass/app.scss */
#chatbox #signed-in #messages .message img {
  float: left;
  margin-right: 0.25em;
}
/* line 103, ../../sass/app.scss */
#chatbox #signed-in #messages .message p {
  clear: both;
}
/* line 106, ../../sass/app.scss */
#chatbox #signed-in #messages .message .user-info {
  font-size: smaller;
  float: left;
  color: #6d6d6d;
}
/* line 114, ../../sass/app.scss */
#chatbox #signed-in #write {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  height: 48px;
  padding: 0.25em;
}
/* line 119, ../../sass/app.scss */
#chatbox #signed-in #write #input {
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  resize: none;
}
/* line 123, ../../sass/app.scss */
#chatbox #signed-in #write #input:focus {
  outline: 1px solid #5ab9de;
}
/* line 127, ../../sass/app.scss */
#chatbox #signed-in #write #picture {
  display: block;
  width: 32px;
  height: 32px;
}

/* line 137, ../../sass/app.scss */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

/* line 143, ../../sass/app.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 148, ../../sass/app.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 154, ../../sass/app.scss */
::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

/* line 158, ../../sass/app.scss */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 163, ../../sass/app.scss */
::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 167, ../../sass/app.scss */
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 172, ../../sass/app.scss */
::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 176, ../../sass/app.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 186, ../../sass/app.scss */
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 192, ../../sass/app.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 197, ../../sass/app.scss */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 202, ../../sass/app.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}
